@media only screen and (max-width: 767px) {
  .containerLeft {
    height:fit-content;
    scroll-behavior: smooth;
}

.mobile {
  max-width:max-content;
  max-height: 100vh;
}

.containerLeftText {
  max-width: 100%;
  height: 100vh;
  overflow: scroll;
  font-size: 0.46em;
  scroll-behavior: smooth;
 padding: 2%;  
}

.containerRight {
  font-size: 0.6em;
  max-width: 50%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  height: 100vh;
}

.marquee {
  font-size: 0.5em;
  border-bottom: 2px solid black; 
}

}




#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 48px;
  background: url('/project1/imgs/redsmall.png');
  background-repeat: no-repeat;
  cursor: pointer;
  color: aquamarine;

}

#slider {
  -webkit-appearance: none;
  width: 25%;
  height: 10px;
  border-radius: 50px;
  -webkit-transition: .3s;
  transition: opacity .3s;
}

.container {
  text-align: center;
  margin: 50px;
  cursor: pointer;
}

.text {
  font-size: 4em;
  font-family: "Jomolhari", serif;
  font-weight: 200;
  font-style:italic;
}





body {
  cursor: url(/project1/imgs/redsmall.png), auto;
  background-color: rgb(255, 230, 0);
    transition:ease-in 0.8s;
}


#text {
  font-size: 0;
  transition: font-size 0.5s ease-in-out;
}






.marquee {
  width: 100%; 
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  border-bottom: 2px solid black; 
}
  

.marquee-content {
  display: inline-block;
  animation: marquee-animation 180s linear infinite;
}

.marquee-content span {
  padding-right: 20px;
}

  @keyframes marquee-animation {
    0% { transform: translateX(0%); } /* Initial position */
    100% { transform: translateX(-100%); } /* Regular animation */
  }






.button {
    padding: 15px;
    border-radius: 200px;
    width: fit-content;
    background-color: red;
    color:  black;
    font-size: 1.25em;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align:  center;
    transition:  all 290ms;
  }
  
  .button:hover {
    background-color: rgb(174, 174, 174);
    cursor: pointer;
  }
  
  .buttonOn {
    background-color:  red;
    color: black;
  }
  
 .light {
    transition:ease-in 0.8s;
   color: snow;
    background-color: #000052;
    cursor: url(/project1/imgs/redsmall.png), auto;

    .numberTwo:hover {
      background-color: red;
      color: snow;
      transition:ease-in 0.5s;
      text-decoration: none;
    }

    div.blink {
      background-color: snow;
    color:#000052 ;
    }

    .blink span {
      font-family: "DM Sans", sans-serif;
      font-size: 3em;
      font-weight: 500;
      font-style: normal;
      color:#000052 ;

    }

    .numberTwo {
      font-size: 0.8em;
      color: #000052;
      font-family: "DM Sans", sans-serif;
      font-weight: 500;
      font-style: normal;
      text-decoration: underline snow 2px;
      cursor: pointer;
    }
    .text {
      font-size: 4em;
      font-family: "Jomolhari", serif;
      font-weight: 200;
      font-style:italic;
      color: red;
    }

    .marquee {
      border-bottom: 2px solid snow; 
    }
    
  }

  a:link, a:visited {
    text-decoration: none;
  }
  

  .text {
    font-size: 4em;
    font-family: "Jomolhari", serif;
    font-weight: 200;
    font-style:italic;
    color: red;
  }


   div.blink {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    width: 100%;
    background-color: black;
  }
  
  
  .blink span {
    font-family: "DM Sans", sans-serif;
    font-size: 3em;
    font-weight: 500;
    font-style: normal;
    color: snow;
  }

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior:smooth;
	}
}





.numberOne {
    font-size: 0.8em;
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
}

  #div2 {transition-timing-function:ease-in;}
  
  .numberTwo {
    font-size: 0.8em;
    color: rgb(255, 230, 0);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: underline black 2px;
    cursor: pointer;
  }
    
 .numberTwo:hover {
    background-color: black;
    color: snow;
    transition:ease-in 0.5s;
    text-decoration: none;
  }

  .numberThree {
    font-size: 2.5em;
    font-family: "Jomolhari", serif;
    font-weight: 200;
    font-style:italic;
    transition: filter 0.5s ease-in-out;
    padding: 2.5%;
  }
  
  .numberThree {
    font-size: 3em;
    font-family: "Jomolhari", serif;
    font-weight: 200;
    font-style: italic;
}

  .numberThree span {
      filter: blur(10px);
      transition: filter 0.5s ease-in-out;
  }

  .numberThree span:hover {
    filter: blur(0.5px);
  }

  .numberFour {
    color: rgb(255, 230, 0);
    font-size: 4em;
    font-family: "Jomolhari", serif;
    font-weight: 200;
    font-style:italic;
    animation: fadeInOut 12s ease infinite;
  }

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

  .numberFive {
    font-size: 1em;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .numberSix {
    font-size: 6em;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .numberSeven {
    font-size: 3em;
    font-family: "Jomolhari", serif;
    font-weight: 200;
    font-style:italic;
  }





  .containerLeft {
    max-width: 50%;
    float:left;
    height: 100vh;
    scroll-behavior: smooth;
    display: flex;
   padding-bottom: 8px;  
}

.containerLeftText {
   padding: 13%;
}

.containerRight {
    max-width: 50%;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
   padding-bottom: 8px;  
}