body {
    background:snow;
    transition:ease-in 0.8s;
}

.button {
    padding: 20px 50px;
    border-radius: 30px;
    background-color:  white;
    color:  black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:  center;
    transition:  all 100ms;
  }
  
  .button:hover {
    background-color: rgb(174, 174, 174);
    cursor:  pointer;
  }
  
  .buttonOn {
    background-color:  black;
    color:  white;
  }
  
 .light {
    transition:ease-in 0.8s;
    background-color: darkblue;
    color: red;
  }

  a:link, a:visited {
    padding: 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
  }

/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 400px; 
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
  } */
  
  div.marquee {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    padding: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: purple;
  }
  
  .marquee span {
    display: inline-block;
    animation: marquee 15s linear infinite;
    font-family: "DM Sans", sans-serif;
    font-size: 3em;
    font-weight: 500;
    font-style: normal;
  }

  @keyframes marquee {
    0% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(-100%);
    }
}

  .container {
    display: grid;
    grid-auto-columns: 50%;
    grid-auto-flow: column;
    overflow-x: auto;
    padding: 150px;
    background-color: aqua;
  }

html {
    scroll-behavior: smooth;
  }
  
  #container{
      overflow-y: scroll;
  }

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior:smooth;
	}
}

.numberOne {
    font-size: 0.8em;
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
}

  #div2 {transition-timing-function:ease-in;}
  
  .numberTwo {
    font-size: 1em;
    color: snow;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
    
 .numberTwo:hover {
    background-color: black;
    transition:ease-in 0.5s;
    text-decoration: none;
  }

  .numberThree {
    font-size: 0.6em;
    font-family: "Jomolhari", serif;
    font-weight: 200;
    font-style:italic;
  }

  .numberFour {
    color: whitesmoke;
    font-size: 4em;
    font-family: "Jomolhari", serif;
    font-weight: 200;
    font-style:italic;
  }

  .containerLeft {
    max-width: 50%;
    float:left;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: scroll; 
    scroll-behavior: smooth;
    display: flex;
}

.containerLeftText {
   padding: 13%;
}

.containerRight {
    max-width: 50%;
    width: 50%;
    float: right;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: scroll; 
    overflow: scroll;
    scroll-behavior: smooth;
}

/* html {
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content:center;
  } */
  
  #section1 {
    height: 1000px;
   
  }
  
  #section2 {
    height: 1000px;
  }

  #section3 {
    height: 1000px;
  }

  #section4 {
    height: 1000px;
  }
  
  #mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }
