html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: forestgreen;
    background-color: lavender; 
}

.flex-container {
    display: flex;
    justify-content: space-between; 
    height: 60vh; /* Make the flex container take up the full viewport height */
}

.column {
    flex: 1; /* Each column takes equal space */
    display: flex;
    flex-direction: column;
}


.flex-item {
    color: forestgreen; 
    text-align: left; 
    padding-left: 3rem;
    cursor: pointer; 
    font-size: 2em;
    font-family: "Source Serif 4", serif;
}

.flex-item a {
    color: inherit; 
    text-decoration: none; 
}

.flex-item:hover {
    text-decoration: underline; /* Add underline on hover */
}


h1 {
    font-size: 5em;
    text-align: left;
    padding: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: forestgreen;
}
