body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: forestgreen;
    background-color: lavender;
    opacity: 0; /* Initially set opacity to 0 */
    animation: fadeIn 2.5s ease forwards; /* Apply fadeIn animation to body */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between; 
    height: 60vh; /* Make the flex container take up the full viewport height */
}

.column {
    flex: 1; /* Each column takes equal space */
    display: flex;
    flex-direction: column;
}

.flex-item {
    color: forestgreen; 
    text-align: left; 
    padding-left: 3rem;
    cursor: pointer; 
    font-size: 2em;
    font-family: "Inter", sans-serif;
    opacity: 0; /* Initially set opacity to 0 */
    animation: fadeIn 2s ease forwards; /* Apply fadeIn animation to flex items */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.flex-item a {
    color: inherit; 
    text-decoration: none; 
}

.flex-item:hover {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-variation-settings:
      "slnt" -10;
      text-decoration-line:overline;
}

h1 {
    font-size: 5em;
    text-align: left;
    padding: 3rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: forestgreen;
}
