body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  font-family: "Inconsolata", monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: floralwhite; /* Remove duplicate background-color declaration */
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-bottom: auto; /* Push the container to the top */
font-family: "Libre Baskerville", serif;
  font-weight: 400;
  text-decoration: none; /* Remove underline from the link */
  font-style: italic;}

  #redirectButton a {
    text-decoration: none;
    color:unset; /* or specify the desired color */
  }

  #redirectButton a:hover {
    text-decoration: none; /* Remove underline from the link */
    color: red; /* This can be removed since it's already red by default */

  }

  #redirectButton {
    margin-top: 1rem; 
    padding: 0.5rem; /* Simplify padding declaration */
    font-size: 1.5rem;
    background-color: white;
    border: 3px solid black; 
    color: black;
    font-family: "Inconsolata", monospace;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* Combine transition declarations */
    text-decoration: none; /* Remove underline from the link */
  }
  

#redirectButton:hover {
  color: red; /* This can be removed since it's already red by default */
  border: 3px solid red; 
  text-decoration: none; /* Remove underline from the link */
}

.clock-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1.5px solid red;
}

.clock-container, .hour-item, .hour-item::before, .current-time-line{
  animation: fadeIn 3s ease-in-out forwards; /* Apply fade-in animation to multiple elements */
}

#redirectButton {
  animation: fadeIn 1.5s ease-in-out forwards; /* Apply fade-in animation to multiple elements */
}


.container {
  animation: fadeIn 1s ease-in-out forwards; /* Apply fade-in animation to multiple elements */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#daysCounter {
  font-size: 1.4rem;
  color: red;
  font-family: "Inconsolata", monospace;
}



#dayclock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust height as needed */
  z-index: 1000;
}

.hour-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hour-item {
  position: relative;
}

.current-time-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px; /* Adjust thickness as needed */
  z-index: 1;
}

.hour-item {
  position: relative;
}

.hour-item::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 50%;
  width: 4px; /* Adjust line width as needed */
  height: 40px; /* Make the line span the entire height of the viewport */
  background-color: red; /* Adjust line color as needed */
}
