body {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

#toolbox {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.row-flexbox {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.task {
  background-color: #f4f4f4;
  border-bottom: 1px #ccc dotted;
  padding: 1rem;
  text-align: center;
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  box-shadow: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.completed {
  background: lightgreen;
}

.task img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 1rem;
}
