.grid-container {
  display: grid;
  grid-template-areas:
      "leftMenu content"
      "leftMenu bottomMenu";
  grid-template-columns: 23rem ; 
  grid-template-rows: 45em;
  height: 100%;
}

.left-menu {
  grid-area: leftMenu;
  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 23rem; 
  border-right: solid black 2px;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between; 
  z-index: 1000; 
}

.bottom-menu {
  grid-area: bottomMenu;
  background-color: yellow;
  bottom: 0;
  border-top: solid black 2px;
  padding: 1rem;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  z-index: 1000; 
}

.menu-item {
  margin-bottom: 2.5rem;
}

.big-title {
  font-size: 2rem;
  background-color: green;
  text-align: left;
  margin-top: auto; 
  margin-bottom: 2.5rem; 
}

.body-text {
  font-size: 1rem;
  text-align: left;
  line-height: 1.25;
  margin-bottom: 20px;
  top: 50%;
  transform: translateY(-50%); 
  background-color: red;
}


 .left-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 23rem; 
    border-right: solid black 2px;
    background-color: paleturquoise;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    align-items: flex-start;
    z-index: 1000; 
}

.top-left-button:hover {
  opacity: 0.8; 
}

.top-left-button {
    background-color: black;
    width: 1.5rem; 
    height: 1.5rem; 
    border-radius: 50%; 
    display: block;
    margin-bottom: auto;
    transform: translateY(0%); 
  }

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .left-menu {
        display: none;
    }
    .bottom-menu {
        left: 0;
        width: 100%;
        max-width: none;
    }
  }